<div class="arc-main-div">
  <div class="arc-top-row" fxLayout="row" >
    <div fxFlex="20%" class="arc-top-left-div">top Left</div>
    <div fxFlex="80%" class="arc-top-right-div" fxLayout="column">
      <div style="" fxFlex="20%"><button mat-button color="primary" (click)="authenticate()">Authenticate</button></div>
      <div style="background-color:lightgreen;" fxFlex="80%"><button mat-button color="primary" (click)="getResource()">Get Resource</button></div>
    </div>
  </div>

  <div class="arc-bottom-row" fxLayout="row" >
    <div fxFlex="20%" class="arc-bottom-left-div">bottom Left</div>
    <div fxFlex="80%" class="arc-bottom-right-div">bottom Right</div>
  </div>

</div>

