<div class="arc-main-div">
  <div class="arc-top-row" fxLayout="row" >
    <div fxFlex="20%" class="arc-top-left-div">top Left</div>
    <div fxFlex="80%" class="arc-top-right-div" fxLayout="column">
      <div style="background-color:brown" fxFlex="20%">james</div>
      <div style="background-color:blue" fxFlex="80%">beattie</div>
    </div>
  </div>

  <div class="arc-bottom-row" fxLayout="row" >
    <div fxFlex="20%" class="arc-bottom-left-div">bottom Left</div>
    <div fxFlex="80%" class="arc-bottom-right-div">bottom Right</div>
  </div>

</div>

